[Desktop Entry]
Type=Application
Terminal=false
Name=Ableton Live 11 Lite
Icon=/home/<username>/wol/Ableton_Live_11_Lite/icon.png
Exec=/home/<username>/wol/Ableton_Live_11_Lite/startup.sh
